@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: #4ABEBD;
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

/*********************/
/*   MOBILE FIRST    */
/*********************/
body {
    background-color: var(--light-gray);
    font-family: 'Karla', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 2rem;
}

.flex-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section {
    text-align: left;
    margin: 0;
    padding: 20px;
}

/* Community Section*/
.community {
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.community h2 {
    color: #2BB3B1;
    font-size: 1.2rem;
}

.community h3 {
    color: var(--bright-yellow);
    font-size: 1.1rem;
}

.community p {
    color: var(--grayish-blue);
    font-size: 0.9rem;
    line-height: 1.5rem;
}


/* Subscription Section */
.subscription {
    background-color: var(--cyan);
    color: var(--light-gray);
}

.subscription h2 {
    font-size: 1.2rem;
}

.price {
    font-size: 2.5rem;
    font-weight: 700;
}

.frequency {
    color: #81E0E2;
}

.subscription p {
    margin-top: 5px;
}

.sign-up {
    text-align: center;
    background-color: var(--bright-yellow);
    min-height: 35px;
    border-radius: 6px;
    font-size: 1.0rem;
    font-weight: 700;
    padding-top: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.12);
    margin-top: 30px;
}

.sign-up:hover{
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.sign-up a{
    text-decoration: none;
    color: var(--light-gray);
}

/* Why Section */
.why {
    background-color: var(--light-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.why h2 {
    color: var(--light-gray);
    font-size: 1.2rem;
}

.why p {
    line-height: 8px;
    color: #B2F9FB;
    font-size: 0.9rem;
    font-weight: 200;
}

/* Footer */
footer {
    text-align: center;
    color: var(--grayish-blue);
}

footer a {
    color: rgba(0, 0, 255, 0.65);
}

/**********************************/
/*        DESKTOP DESIGN          */
/**********************************/

@media (min-width: 1056px) {
    .container {
        margin: 100px 28%;
        align-items: stretch;
        box-shadow: 0.04 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .flex-row {
        flex-direction: row;
    }

    .community {
       flex-basis: 100%;
    }
    .community h2 {
        font-size: 1.4rem;
    }

    .community h3 {
        font-size: 1.2rem;
    }

    .community p{
        font-size: 1rem;
    }

    .subscription {
        flex-basis: 50%;
        border-bottom-left-radius: 10px;
    }

    .why {
        flex-basis: 50%;
        border-bottom-left-radius: 0px;
    }


}


